.Content {
  flex: 1 1 0;
  min-height: 0;
}
.title {
  cursor: pointer;
}
.navbar {
  height: 50px;
  padding: 0 20px;
  list-style-type: none;
  position: static;
  overflow: hidden;
  background-color: #f7f7f7;

  display: inline;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  float: left;
  display: inline;
}

:global(.UserDetails) {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;

  img {
    border-radius: 50%;
    height: 35px;
    margin: 0 12px 0 0;
  }
}

:global(.NavDetails) {
  color: white;
  flex-direction: row-reverse;
  img {
    margin: 0 0 0 12px;
  }

  :global(.NavUserDetails) {
    color: #318bdd;
    display: flex;
    flex-direction: column;
    :global(.UserPoints) {
      font-size: 15px;
    }
  }
}

.UserName {
  font-size: 15px;
  margin-right: auto;
}

:global(.UserPoints) {
  font-size: 13px;
  color: #318bdd;
}

:global(.MuiListItemIcon-root) {
  color: white !important;
  min-width: 40px !important;
}
