.TrainData {
  width: 200px;
  padding: 8px;
  margin: 5px 10px;
  align-items: center;
  text-align: center;
}
.Content {
}
.Bars {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
}
.Button {
  position: absolute;
  left: 200px;
}
.Ranks {
  display: flex;
  justify-content: flex-start;
  padding: 40px 20px;
}
