
.train-div{
    direction: rtl;
    text-align:center;
    display: grid;
}


.title {
    max-height: 100vh;
    border-radius: 1rem !important;
    margin-bottom: 1vh;
    margin-top: 3rem;
    text-align: right;
}


.form{
    margin:50px 0px; padding:0px;
    width: 400px !important;

    text-align:center;
    width: 80%;
}

.finish{
    margin-top: 0.5% !important ;
    background:#6B7191 !important ;
    color: white  !important;
    width: 100%;
}
.button{
    margin:5% 2% !important;
    /* width: 20vw !important; */
    /* height: 30vh; */
    text-align:center;
    margin-top:2vh !important;
}

.inputTitle {
    width: 100% !important;
    display: grid !important;
    text-align: right !important;
    direction: rtl !important;
}
.inputText {
    width: 100% !important;
    margin-top:2vh !important;
    display: grid !important;
    text-align: right !important;
}

.inputInline{
    margin-top:2vh !important;
    display: inline;
    padding-right: -0.25em !important;


}

h3 {
    color:red !important;
}