.VideoWrapper {
}
.DocumentWrapper {
}
.DocumentDataWrapper {
    width: 65%;
    min-height: 25vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7px;

    img {
        width: 25vw;
        height: 14vh;
    }
}

.DocumentName {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 4px;
}
.DocumentDetails {
    margin-top: 6px;
    font-size: 15px;
    color: gray;
    font-weight: 500;
}

.DownloadDocumentButtonWrapper {
    margin: 0 auto;
    width: fit-content;
}

.DownloadButton {
    display: flex;
    font-weight: 700;
    font-size: 15px;
    color: #4d4f94;

    img {
        height: 15px;
        filter: opacity(0.5);
        margin-left: 14px;
    }
}
