.button{
    margin:10% 2% !important;
    /* width: 20vw !important; */
    /* height: 30vh; */
    text-align:center;
    
}

.inputTitle {
    width: 100% !important;
    display: grid !important;
    text-align: right !important;  
    direction: rtl !important;
}
.inputText {
    width: 100% !important;
    display: grid !important;
    text-align: right !important;  
}