.Content {
  display: flex;
  flex-direction: column;
  margin: 20px;
justify-content: center;
  align-items: center;
}
.wrapperClass{
   display: flex;
   align-items: center;

}
.Numbers {
    margin: 0px;
    font-size: 19px;
}

.Status {
    margin: 0px;
    color: black;
    font-size: 12px;
}

.Standard {
  color: rgb(164, 164, 164);
}

.Warn {
  color: rgb(251, 210, 23);
}

.Danger {
  color: red;
}
